.header-style{
  display: flex;
  font-family: "Sora", sans-serif;
  font-size: 64pt;
}
<<<<<<< Updated upstream
=======

.header{
  display: flex;
  flex-flow: column;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  left: 0;
  right: 0;
  top: 0;
  line-height: 150px;
  vertical-align: top;
}

>>>>>>> Stashed changes
.navigation{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.button-style{
  margin: 0.25%;
  background-color: red;
  width: 100px;
  height: 36px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-weight: bold;
  font-family: "Sora", sans-serif;
  cursor: pointer;
  transition: opacity 0.15;
}
.button-style:hover{
  opacity: 0.8;
}
.button-style:active{
  background-color: greenyellow;
}