.header-style{
  display: flex;
  font-family: "Sora", sans-serif;
  font-size: 64pt;
}

.header{
  display: flex;
  flex-flow: column;
  height: 150px;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  left: 0;
  right: 0;
  top: 0;
  line-height: 150px;
  vertical-align: top;
}

.navigation{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.button-style{
  margin: 0.25%;
  background-color: red;
  width: 15%;
  height: 70px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-weight: bold;
  font-size: large;
  font-family: "Sora", sans-serif;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.15;
}
.button-style:hover{
  opacity: 0.6;
}
.button-style:active{
  background-color: greenyellow;
}